In [3]:
import numpy as np 
import pandas as pd

## GroupBy

In [31]:
## Mechanics: 

df = pd.DataFrame({'key1' : ['a', 'a', 'b', 'b', 'a'],
    'key2' : ['one', 'two', 'one', 'two', 'one'],
    'data1' : np.random.randn(5),
    'data2' : np.random.randn(5)})

## Group by: 
grouped = df['data1'].groupby(df['key1'])
grouped.mean() # Df now indexed by the group key 

## What if don't provide column: 
df.groupby(df.key1).mean() # Will return mean for all appropriate values (no col returned for categorical / strings)

## Don't need to write df.groupby(df[<col name>]) -> if col in df, just pass col name 
df.groupby('key1').mean()


## Iteration in groupby 
## pd's groupby supports iteration, will generate sequence of 2 tuples w/ group name and actual group:
for name, group in df.groupby('key1'):
    print("Name: ",name)
    print("Group:\n", group)

    
list(df.groupby('key1')) ## Returns a list of tuples (with key and group) --> can transform to dict easily 

## Selecting cols or subsets of cols 
## What's the diff between following: 
df.groupby('key1')['data1']
df['data1'].groupby(df['key1']) # Same, but because did subsetting before and type(df['data1']) is Series ..
                                # need to specify df in groupby argument. 
    
## Using dicts and series for mappings 
## Quick way to map and group in one step: 
ex = pd.DataFrame(np.random.randn(5,3), columns = ['a', 'b','c'])
mapping = {'a':'Ar', 'b':'Blue', 'c':'CA'}
ex.groupby(mapping, axis = 1).sum()

Name:  a
Group:
       data1     data2 key1 key2
0 -0.285251 -0.902398    a  one
1 -1.601345  0.379582    a  two
4 -0.361784  0.106008    a  one
Name:  b
Group:
       data1     data2 key1 key2
2 -0.828583 -1.227178    b  one
3  0.030427  0.265094    b  two

         Ar      Blue        CA
0  0.021907  0.010487 -0.225513
1  1.903528 -0.775952 -2.074629
2 -0.083031 -0.356426 -1.041145
3 -0.817457  2.139261 -0.191803
4  0.702463 -1.139347  0.028516

## Apply: General split-apply-combine

In [ ]:
##